.list-item-delete-button {
  font-size: 18px;
  background-color: transparent;
  border: none;
  height: 50px;
  user-select: none;
  opacity: 0.5;
  transition: 0.3s;
}

.list-item-delete-button:hover {
  opacity: 1;
  transition: 0.3s;
}

.list-item-delete-button:focus {
  outline: none;
}